div#matchmakingPageContainer{
    color: silver;
    overflow: auto;
	font-size: 1.2vw; 
}

#matchmakingPageContainer #matchSelectionTitle{
    height: 1.15em;
    margin-bottom: 0.83em;
    margin-top: 0.83em;
	text-align: center;
}

#matchmakingPageContainer #matchSelectionButtons{	/* matchBlocks container (3 for now) */
    width: 100%;
    height: 80%;
    border: px solid #c3c3c3;
    display: -webkit-flex; /* Safari */
    -webkit-flex-direction: row; /* Safari 6.1+ */
    display: flex;
    flex-direction: row;
	margin: auto;
}

#matchmakingPageContainer .matchBlockContainer { /* single matchBlock */
    position: relative;
	margin: auto;
    width: 20%;
	Height: auto;
	-webkit-transition: width 0.5s, height 0.5s; /* Safari */
	transition: width 0.5s, height 0.5s;
}

#matchmakingPageContainer .matchBlockContainer:hover {
    width: 35%;
	Height: auto;
}

#matchmakingPageContainer .matchBlock { /* image position */
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  -webkit-transition: .5s ease; /* For Safari 3.1 to 6.0 */
  backface-visibility: hidden;
  border-radius: 8px;
  pointer-events: none;
}

#matchmakingPageContainer .matchBlockContainer:hover .matchBlock {
  opacity: 0.3;
}

#matchmakingPageContainer .matchBlockBackground { /* image position */
  opacity: 0;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  -webkit-transition: .5s ease; /* For Safari 3.1 to 6.0 */
  backface-visibility: hidden;
  border-radius: 8px;
  pointer-events: none;
}

#matchmakingPageContainer .matchBlockContainer:hover .matchBlockBackground {
  opacity: 1;
}

#matchmakingPageContainer .centralElement { /* text position */
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}


#matchmakingPageContainer .matchBlockContainer:hover .centralElement {
  opacity: 1;
}

#matchmakingPageContainer  .text {	/* text&background color */
  background-color: gray;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

/* WAITING ROOM CSS */

#matchmakingPageContainer #waitingSelectionTitle{
    height: 1.15em;
    margin-bottom: 0.83em;
    margin-top: 0.83em;
	text-align: center;
	transition: all .5s ease;
	-webkit-transition: all .5s ease; /* For Safari 3.1 to 6.0 */
}

#matchmakingPageContainer .waitingClock { /* clock in waiting room */
    position: relative;
	display: block;
    margin: 0 auto;
    width: 20%;
	Height: auto;
    -webkit-animation:spin 2s ease infinite;
    -moz-animation:spin 2s ease infinite;
    animation:spin 2s ease infinite;
	transition: .5s ease;
	-webkit-transition: .5s ease; /* For Safari 3.1 to 6.0 */
}

#matchmakingPageContainer .waitingClock:hover {
	opacity: 0.6;
	width: 23%;
	Height: auto;
}

#matchmakingPageContainer .waitingClock:hover + #waitingSelectionTitle{ /* affects the waiting text */
	background-color: rgba(200,200,200,0.2);
	animation: background-color_transition 2s linear infinite;
}

@keyframes background-color_transition {
    0% {background-color: rgba(200,200,200,0.2);}
    50% {background-color: rgba(200,200,200,0.5);}
	100% {background-color: rgba(200,200,200,0.2);}
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

/* FIENDLY PAGE CSS */

#matchmakingPageContainer #friendlySelection{
    height: auto;
}

#matchmakingPageContainer #friendlySelectionTitle{
    height: 1.15em;
    margin-bottom: 0.83em;
    margin-top: 0.83em;
	text-align: center;
}

#matchmakingPageContainer #friendlySelectionBlock {
    border: px solid #c3c3c3;
	margin: 0 auto;
	position: relative;
	top: 20%;
	width: 60%;
	Height: 60%;
	overflow-y: auto;
}

#matchmakingPageContainer #matchmakingLabelClass {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
	
}

#matchmakingPageContainer #matchmakingLabelClass td, #matchmakingPageContainer #matchmakingLabelClass th{
    border: 1px solid #ddd;
    padding: 8px;
	background-color: #b3c6b3;
}

#matchmakingPageContainer #matchmakingLabelClass th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
	background-color: #717c71;
    color: white;
}
#matchmakingPageContainer tr:hover {background-color: #ddd;}

/* Scrollbar */
#friendlySelectionBlock::-webkit-scrollbar{
    width:10px;
}
#friendlySelectionBlock::-webkit-scrollbar-track{
    border-radius:10px; 
    background:#eee; 
    -webkit-box-shadow:inset 0 0 4px rgba(0,0,0,0.1);
}
#friendlySelectionBlock::-webkit-scrollbar-thumb{
    border-radius:10px; 
    background:#bbb;
}