div#matchmakingPageContainer{
    color: silver;
    overflow: auto;
}

#matchSelectionTitle{
    height: 1.15em;
    margin-bottom: 0.83em;
    margin-top: 0.83em;
	text-align: center;
}

#matchSelectionButtons{	/* matchBlocks container (3 for now) */
    width: 100%;
    height: 80%;
    border: px solid #c3c3c3;
    display: -webkit-flex; /* Safari */
    -webkit-flex-direction: row; /* Safari 6.1+ */
    display: flex;
    flex-direction: row;
	margin: auto;
}

.matchBlockContainer { /* single matchBlock */
    position: relative;
	margin: auto;
    width: 20%;
	Height: auto;
	-webkit-transition: width 0.5s, height 0.5s; /* Safari */
	transition: width 0.5s, height 0.5s;
}

.matchBlockContainer:hover {
    width: 35%;
	Height: auto;
}

.matchBlock { /* image position */
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  -webkit-transition: .5s ease; /* For Safari 3.1 to 6.0 */
  backface-visibility: hidden;
  border-radius: 8px;
}

.matchBlockContainer:hover .matchBlock {
  opacity: 0.3;
}

.matchBlockBackground { /* image position */
  opacity: 0;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  -webkit-transition: .5s ease; /* For Safari 3.1 to 6.0 */
  backface-visibility: hidden;
  border-radius: 8px;
}

.matchBlockContainer:hover .matchBlockBackground {
  opacity: 1;
}

.centralElement { /* text position */
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}


.matchBlockContainer:hover .centralElement {
  opacity: 1;
}

.text {	/* text&background color */
  background-color: gray;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}